// @import "./common/reset.scss"; // 공통
// @import "./common/common.scss"; // 공통
// @import "./common/mixins.scss"; // 믹스인
// @import "./common/variables.scss"; // 변수

// @import "./components/popup.scss";
// @import "./components/header.scss";
// @import "./layout/layout.scss";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif !important ;
  font-size:14px ;
  font-weight: 400;
  color:rgba(0,0,0,.87) ; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;