.header{
  display: flex;
  flex-direction: column ;
  flex : 0 0 240px ; 
  padding:0 10px ; 
  align-items:center;
  h1 {
    @include round-box ; 
    justify-content: flex-start ;
    a {
      color:#333 ; 
      font-size:18px; 
      font-weight: 700 ;
      color:#2C3333 ;
      letter-spacing: -1px ;
      &::first-letter {
        color:#DD4A48; 
      }
    }
  }
  span {
    display: inline-flex;
    margin-left: 4px ;
    font-size:11px ; 
    vertical-align: middle ;
    color:#717a7a ;
  }

  .btn-mobile-menu{
    display: none;
    position: absolute;
    right:20px;
    top:50% ;
    transform: translateY( -50% ); 

    text-indent:-99999em;
    font-size:0 ;

    width: 22px;
    height: 18px;

    background:#fff ; 
    border:0; 

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0 ;
      width: 100%;
      height: 3px;
      color: #333;
      background-color: currentColor;
      transition: all .45s ease-in-out;
    }
      &::before {
        top: 0;
        transform: rotate(0);
      }
      &::after {
        bottom: 0;
        box-shadow: 0 -8px currentColor;
      }
  }
  .navWrap{
    display: flex;
    width: 100% ;
    flex-direction: column ;
    nav {
      display: flex;
      @include round-box ; 
      padding:0 ; 
      flex-direction: column ;
      overflow: hidden;
      button, a {
        display: inline-flex;
        width: 100% ;
        align-items: center ;
        justify-content: flex-start;
        text-align: left ;
        background: none ;
        border : 0 ; 
        font-size:14px ; 
        font-weight: 400 ;
        padding: 1rem;
        cursor: pointer;
        letter-spacing: -1px ;
        color:#D1D1D1 ;
        transition:all .3s ; 
        background-color: #fff;;
        &:not(:last-child) {
          border-bottom:0.0625rem solid #DEDEDE ; 
        }
        &.router-link-active{
          color:#2C3333 ;
          font-weight: 700 ;
          background-color: #f8f8f8;
        }
      }
    }
  }
}

@media (max-width: 740px) {
  .header{
    position: relative;
    flex:0 0 auto ; 
    padding:0; 
    border-radius: 0.65rem;
    border: 0.0625rem solid #DEDEDE;
    box-shadow: #0000000a 0rem 0.125rem 0.625rem 0rem;
    h1 {
      margin-bottom: 0;
      border-radius: 0;
      border: 0;
      box-shadow:none; 
    }
    .navWrap{
      display: none;
      position: absolute;
      left:0; right:0;
      top:60px ;  
      padding: 0px ;
      z-index: 999 ;
      &.show{
        display: block;
      }
    }
    .btn-mobile-menu{
      display: block;
      &.active {
        &::before {
          top: 50px;
          transform: rotate(45deg);
        }
        &::after {
          box-shadow: 0 0 transparent;
          bottom: 50px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
