html, body { 
  // height: 100% ; 
  // overflow: hidden !important ;
}

body {
  width: 100% ;
  display: flex;
  justify-content: center ;
  background-color: #fff;
}

#app { 
  display: flex; 
  justify-content: center ;
  height : 100%; 
  gap:40px ; 
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  .container {
    display: flex; flex-direction: column ;
    width: 500px ;
    gap: 20px ; 
    overflow: hidden;
    flex: 1; 
    h2 {
      font-size:14px; 
      color:#2C3333 ; 
    }
    // 페이지 설명 
    .description{
      font-size:12px ; line-height: 1.5; 
      margin-bottom: 0;
      justify-content: flex-start ; 
    }
  }

  .sectionWrap {
    display: flex; flex-direction: column ;
    flex: 1;
    gap: var( --sectionGap , 30px ) ;
    overflow: hidden;

    section {
      position: relative;
      display: flex;
      flex-direction: column ;
      gap: var(--gap, 20px) ; 
      overflow: hidden ;

      $rd : 0.3rem ; 
      $height  :40px ; 
      $height-sm : 34px ; 
      input[type=text],input[type=number] {
        width: 100% ;
        padding : 0 10px ; 
        height : $height ;
        font-size:12px ; 
        border-radius: $rd;
        border: 0.0625rem solid #DEDEDE;
        box-shadow: #0000000a 0rem 0.125rem 0.625rem 0rem ;
        
      }
      select {
        width: 100% ;
        padding : 0 10px ; 
        height : $height ;
        outline: 0 ;
        border-radius: $rd;
        border: 0.0625rem solid #DEDEDE;
        box-shadow: #0000000a 0rem 0.125rem 0.625rem 0rem ;
        font-size: 12px;
      }
      textarea {
        width: 100% ;
        flex : 1 ; 
        padding: 10px ; 
        line-height:1.5; 
        min-height:10rem ; 
        font-size:12px ; 
        outline: 0 ;
        border-radius: $rd;
        border: 0.0625rem solid #DEDEDE;
        box-shadow: #0000000a 0rem 0.125rem 0.625rem 0rem ;
        resize: none
      }
      button {
        width: 100% ;
        height : $height ;
        background-color: #39AEA9;
        border: 0 ; 
        color:#fff ;
        font-size:14px; 
        font-weight: 600 ;
        cursor: pointer; 
        border-radius: $rd;
        box-shadow: #0000000a 0rem 0.125rem 0.625rem 0rem ;
        &.btnNotify {
          width:auto;
          font-size:11px;
          height:auto;
          padding:0 10px;
          border: 1px solid #C74B50;
          background-color: #fff;
          color:#C74B50; 
        }
        &.btnLight {
          background-color: #efefef;
          color:#333 ; 
        }
        &.sm {
          height:$height-sm ; 
          font-size:14px ; 
        }
      }
      h1 {
        font-size:14px;
        letter-spacing: -1px ;
      }
      h2 {
        font-size:12px;
        letter-spacing: -.5px ;
      }
      .row {
        width: 100%;
        flex : 1 ;
        display: flex;
        gap: var(--gap, 0) ; 
        > * {
          flex : 1 ; 
        }
        &.fix {
          flex : 0 0 auto ;
        }
        .col {
          display: flex;
          flex-direction: column;
          gap: var(--gap-col, 0) ; 
          &.number {
            flex : 3 ;
          }
          &.r {
            flex: 0 0 auto ;
            margin-left: auto ;
          }
          &.fit {
            flex: 0 0 auto ; 
          }
          &.bx {
            gap:5px ; 
          }
        }
      }
      &.enter { 
        flex : 0 0 auto ; 
      }
      &.result {

        .bx-rd{
          @include round-box ; 
          flex-direction: column ;
          justify-content: flex-start;
        }
        .status{
          width: 100% ;
          font-size:14px ; 
          font-weight: 500 ;
        }
        .lstWrap {
          width: 100% ;
          height: 100% ;
          overflow-y:auto ; 
          flex:1; 
          display: flex;
          flex-direction: column ;
          min-height: min-content ;
          gap:4px ; 
          li {
            font-size: 14px ;
            display: flex;
            gap:10px; 
            line-height: 1.6 ; 
            span {
              flex : 1; 
              &.date {
                flex:0 0 160px ;
              }
              &.name {
                flex:0 0 80px ; 
              }
              &.txt-result {
                flex:0 0 60px ; 
                &.error{
                  color:red ; 
                }
              }
              &.txt-err{
                color:red ; 
              }
            }
            
          }
        }
      }
      &.msg {
        overflow-y:auto ; 
        padding-right: 10px ;
        h2 {
          padding:40px 0 10px ;
        }
        .wrapMsg{
          display: flex;
          flex-direction: row ;
          flex-wrap : wrap ;
          gap:10px ; 
          .item {
            flex : 1 1 200px ; 
            display: inline-flex;
            flex-direction: column ;
            gap:5px; 
            h3 {
              font-size:12px ; 
              font-weight: 600 ;
              color: #868686 ;
            }
            .text {
              display: flex;
              height: 150px ;
              overflow-y: auto ;
              border:0.0625rem solid #DEDEDE ; 
              padding: 10px ; 
              box-shadow: #0000000a 0rem 0.125rem 0.625rem 0rem;
              border-radius: 0.3rem ;
              font-size:11px ; 
              line-height: 1.5 ; 
              outline: 0;
            }
          }
        }
      }

      .bx-bg{
        display: flex;
        flex-direction: column ;
        gap:2px; 
        background-color: #ffede5;
        padding:10px; 
        border-radius: 0.3rem ;
      }
    }

    &.calculatePrice{
      .btnNotify{
        height: 100% ;
      }
      .info {
        display: flex;
        flex-direction: column ;
        gap : 5px ; 
        width: 100% ;
        dt {
          font-weight: 700 ;
          font-size: 14px ;
        }
      }
    
      .priceResult{
        width: 100% ;
        display: flex;
        flex-direction: column ;
        gap:10px ; 
        dl {
          display: flex;
          flex-direction: row ;
          gap:10px ;
          font-size: 14px ;
          &.line {
            border-bottom:1px solid #DEDEDE ; 
            padding-bottom: 10px ;
          }
          dd {
            font-weight: 700 ;
          }
        }
      }
    }

    &.salePrice {
      .row {
        .col {
          &.btns{
            flex-direction: row ;
            gap:3px; 
            button {
              display: flex;
              // flex-basis: 80px ;
              justify-content: center;
              align-items: center;
              font-weight: 700;
              outline: none;
              border: none;
              border-radius: 0.375rem;
              min-height: 34px;
              height: 34px;
              background-color: #efefef;
              color:#333 ; 
              font-size:14px ; 
              cursor: pointer;
            }
          }
        }
      }
    }

  }

}

ul.lst_fee {
  > li {
    font-weight: 700 ;
  }
  li {
    list-style: none;
    line-height:1.5 ;
    font-size:12px ; 
    ul {
      padding-left: 10px ;
      li {
        font-weight: 400 ;
        list-style: inside ;
      }
    }
  }
}

.btn {
  display: flex;
  // flex-basis: 80px ;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 0.375rem;
  min-height: 34px;
  height: 34px;
  background-color: #efefef;
  color:#333 ; 
  font-size:14px ; 
  cursor: pointer;
}

.excelConverter{
  .wrapTable{
    width : 100% ; 
    flex :1 ; 
    height : 100% ; 
    overflow-y:auto ; 
  }
  .btnArea {
    // flex : 0 0 auto ; 
    width: 100% ;
  }
  table {
    width : 100% ; 
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed ;
    tr {
      th, td {
        border : 1px solid #333 ; 
        padding:2px ;
        font-size:11px ;  
        white-space: normal;
        word-break: break-all;
        .ellipsis {
          width: 100% ;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  
  .setColWrap{
    display: flex;
    flex-direction: column ;
    gap:10px ; 
    .set {
      display: flex;
      gap:10px ; 
      button {
        flex : 0 0 100px ; 
      }
    }
    .error{
      display: flex;
      gap:10px ; 
      strong{
        color:red; 
      }
    }
    .lst{
      display: flex;
      flex-wrap: wrap ;
      gap:2px ; 
      li {
        list-style: none ;
        font-size:11px; 
        white-space: nowrap ;
        padding:2px ; 
        border:1px solid #333; 
        border-radius: 2px ;
      }
    }
  }

  .enter {
    textarea {
      min-height: 60px !important;
    }
  }
}


.personalCodeCheck{
  .enter {
    &.excel{
      textarea {
        min-height: 60px !important;
      }
    }
  }
}

.tabs{
  display: flex;
  border:1px solid #DEDEDE ;
  border-bottom:0 ; 
  border-radius: 0.65rem 0.65rem 0 0 ;
  overflow: hidden;
  flex: 0 0 auto;
  > button {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center ;
    text-align: left;
    background: none;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: -1px;
    color: #D1D1D1;
    // transition: all 0.3s;
    border-bottom: 1px solid #DEDEDE ;
    background-color: #f9f9f9;
    &:not(:last-child){
      border-right: 1px solid #DEDEDE ;
    }
    &.active {
      border-bottom: 0 ; 
      color: #2C3333;
      font-weight: 700;
      background-color: #fff;
    }
  }
}

@media (max-width: 740px) {
  #app {
    flex-direction: column ;
    padding:10px ; 
    border : 1px solid red ; 
    gap:20px ; 
    .container {
      width: 100% ;
    }
  }
}
